name: Build

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
    - uses: actions/checkout@v4

    - name: Pull LFS files
      run: git lfs pull

    - name: Cache Maven packages
      uses: actions/cache@v3
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'

    - name: Set version to tag name
      run: mvn versions:set -DnewVersion=${{ github.ref_name }}

    - name: Build with Maven
      run: mvn -B package --file pom.xml

    - name: Upload JAR to release
      uses: softprops/action-gh-release@v2
      with:
        files: target/konpeki-economy-${{ github.ref_name }}.jar
        draft: false
        prerelease: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
